<mat-toolbar [color]="'primary'">
  <div id="logo" (click)="onLogoClick()">
    Leexi<span id="kLogoLetter">K</span>a
  </div>
  <span fxFlex="1 1 auto"></span>
  <span style="margin-right: 10px" *ngIf="user$ | async"
    >Welcome, {{ (user$ | async).name }}!</span
  >
  <ng-container *ngIf="!(user$ | async)">
    <button
      mat-raised-button
      *ngIf="!(user$ | async)"
      color="primary"
      (click)="login()"
    >
      Login
    </button>
    <button
      mat-raised-button
      *ngIf="!(user$ | async)"
      color="primary"
      (click)="register()"
    >
      Register
    </button>
  </ng-container>
  <button
    mat-raised-button
    *ngIf="user$ | async"
    color="primary"
    (click)="logout()"
  >
    Logout
  </button>
</mat-toolbar>
