<mat-card class="contact-card">
  <mat-card-header>
    <div mat-card-avatar class="header-image"></div>
    <mat-card-title>Ivan Gandacov</mat-card-title>
    <mat-card-subtitle>Fullstack Software Developer</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>
      Hi, and thank you for checking out Leexika! If you'd like to get in
      contact with me, then please use one of the available social links below
      or send me an e-mail at:
      <i>gandacov96@gmail.com</i>. Thank you!
    </p>
  </mat-card-content>
  <mat-card-actions>
    <a
      class="icon github-icon"
      href="https://github.com/GiVanx"
      target="_blank"
      style="margin-left: 8px"
    ></a>
    <a
      class="icon linkedin-icon"
      href="https://www.linkedin.com/in/gandacov-ivan-2a9338131"
      target="_blank"
    ></a>
  </mat-card-actions>
</mat-card>
