<mat-selection-list
  #textWithGaps
  [multiple]="false"
  [(ngModel)]="selectedOptions"
>
  <mat-list-option
    (click)="onSingleClick(word)"
    *ngFor="let word of words; index as i"
    [value]="word"
    (dblclick)="onDoubleClick(word)"
    [disabled]="
      disabled ||
      word.status === getWordStatusEnum().ORIGINAL ||
      word.status === getWordStatusEnum().OK
    "
    [class.list-item-active]="
      selectedOptions.length > 0 && selectedOptions[0].id === word.id
    "
    [class.missing]="word.status === getWordStatusEnum().MISSING"
    [class.to-be-evaluated]="
      word.status === getWordStatusEnum().TO_BE_EVALUATED
    "
    [class.wrong]="word.status === getWordStatusEnum().WRONG"
    [class.correct]="word.status === getWordStatusEnum().OK"
  >
    {{
      word.status !== getWordStatusEnum().MISSING
        ? word.content
        : WORD_PLACEHOLDER
    }}
  </mat-list-option>
</mat-selection-list>
