@import "../utils/styles.less";

:host {
  // make the mat-form-field expand to the height of the container
  ::ng-deep .mat-form-field-wrapper {
    flex: 1;
    display: flex;
    padding-bottom: 0;

    .mat-form-field-flex {
      flex: 1;
      flex-direction: column;
    }

    .mat-form-field-infix {
      width: 100%;
    }
  }

  .textInputArea {
    width: 100%;
    height: 100%;
    resize: none;
    font-size: 20px;
  }
}
