<div fxLayout="row" fxLayoutAlign="center">
  <div>
    <mat-button-toggle-group
      name="difficultyLevel"
      (change)="onDifficultyChange($event)"
    >
      <mat-button-toggle *ngFor="let level of levels" [checked]="level === 2">{{
        level
      }}</mat-button-toggle>
    </mat-button-toggle-group>
    <button mat-raised-button color="primary">Remix</button>
  </div>

  <div style="margin-left: auto">
    <button mat-raised-button color="primary" (click)="onCheckButtonClicked()">
      Check
    </button>
    <button mat-raised-button color="primary">Start</button>
  </div>
</div>
